.container-fluid{
   
   margin-left:500px;
   background-image: url(https://hips.hearstapps.com/ghk.h-cdn.co/assets/18/06/new-beginnings-life-quote.jpg);
   background-repeat: no-repeat;
  
}
.pform{
    margin-left: 10px;
    margin-right:100px;
}
.formn{
    text-align: center;
}
.formm{
    text-align: center;
}

