.container-fluid{
   background-color:lightgray;
   margin-left:500px;
   background-image: url(https://hips.hearstapps.com/ghk.h-cdn.co/assets/18/06/new-beginnings-life-quote.jpg);
   
  
}
.pform{
    margin-left: 600px;
}
.formn{
    text-align: center;
}
.formm{
    text-align: center;
}
